/* Header Styles */

// 992px and up
@media (min-width: @screen-md-min) {
  #site-header {
    .container {
      padding: .7em 0;
    }
    .navbar-brand {
      margin-top: 12px;
    }
  }
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
    border-bottom: 3px solid @orange;
    background-color: transparent;
    padding-bottom: 10px;
  }
}
