/* Overall styles */
.container {
  max-width: 1000px;
}

.top-margin {
  margin-top: 10em;
}

.no-left-pad {
  padding-left: 0px;
}

.tab-pane {
  margin-top: 4em;
}

// Button style
.btn-default {
  color: @orange;
  font-family: 'Roboto', sans-serif;
  border: 2px solid @orange;
  background-color: transparent;
  border-radius: 0px;
  padding: .5em 1.5em;
  &:hover {
    color: #ffffff;
    background-color: @orange;
    transition: 0.3s;
    border: 2px solid @orange;
  }
}


// Mobile/tablet
#photo-left {
  background: url(../assets/images/hero-image-1.jpg) no-repeat;
  background-size: cover;
  display: block;
  height: 400px;
  width: 100%;
  background-position: center;
}

#photo-right {
  display: none;
}

/* Homepage Styles */
@media (min-width: @screen-sm-min) {
  #photo-left {
    height: 500px;
  }

  #photo-right {
    background: url(../assets/images/hero-image-2.jpg) no-repeat;
    background-size: cover;
    display: block;
    height: 500px;
    width: 100%;
  }
}

// Photo Page styles
.photo-thumb {
  background: url(../assets/images/hero-image-1.jpg) no-repeat;
  background-size: cover;
  display: block;
  height: 200px;
  width: 200px;
  margin: 60px;
  background-position: center;
}
