/* Overall styles */
.container {
  max-width: 1000px;
}

.top-margin {
  margin-top: 10em;
}

.no-left-pad {
  padding-left: 0px;
}

.tab-pane {
  margin-top: 4em;
}

/* Homepage Styles */

#photo-left {
  background: url(../assets/images/hero-image-1.jpg) no-repeat;
  background-size: cover;
  display: block;
  height: 500px;
}

#photo-right {
  background: url(../assets/images/hero-image-2.jpg) no-repeat;
  background-size: cover;
  display: block;
  height: 500px;
}
